.bg {
	width: 75vw;
	height: 50vw;
	z-index: 0;
	border-radius: 0.5rem;
}

.titluStil {
	background-color: transparent;
	position: absolute;
	z-index: 9;
	width: 100%;
	transform: translateY(300px);
}