.stilFooter {
	background-color: #36393E;
	margin: 0;
	bottom: 0px;
	padding: 1px;
	color: #9CA1A9;
}

.stilHarta {
	width: 350px;
	height: 250px;
	border: 0;
	padding-bottom: 3px;
	margin: 10px;
}

.stilAranjare {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 40px;
}